#wpbody-content{
	margin: 0px;
}

.events-list{
	
} .events-list li{
	padding: 10px;
	border-bottom: 2px solid #dadada;
	border-right: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	background: linear-gradient(to bottom, #F1F1F1 0%, #e9e9e9 100%);
	display: inline-block;
	position: relative;
	margin: 0;
}  .events-list li:hover,  .events-list li:focus{
	background: linear-gradient(to bottom, #fff 0%, #f1f1f1 100%);
	border-color: #e9e9e9;
	box-shadow: 0px 0px 7px rgba(0,0,0,.1);
	z-index: 10;
}

.event-date, .events-list li input{
/* 	font-weight: bold; */
	font-size: 14px;
	color: #aaa;
	padding: 7px;
} .event-date{
	color: #777;
	font-weight: bold;
} .events-list li input[name=name1], .events-list li input[name=name2] {
	
}
